apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
        - name: frontend
          image: "gcr.io/GoogleCloudPlatform/kubernetes-bootcamp/frontend:v1"
          ports:
            - containerPort: 80
        - name: backend
          image: "gcr.io/GoogleCloudPlatform/kubernetes-bootcamp/backend:v1"
          ports:
            - containerPort: 8080
        - name: redis
          image: "gcr.io/GoogleCloudPlatform/kubernetes-bootcamp/redis:v1"
          ports:
            - containerPort: 6379